<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LetsChat</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.user.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDp</display-name>
    <servlet-name>UpdateDp</servlet-name>
    <servlet-class>com.user.UpdateDp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDp</servlet-name>
    <url-pattern>/updatedp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeopleServlet</display-name>
    <servlet-name>PeopleServlet</servlet-name>
    <servlet-class>com.user.PeopleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeopleServlet</servlet-name>
    <url-pattern>/getpeople</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendServlet</display-name>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.user.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/getfriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.user.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/addfriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFriendServlet</display-name>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <servlet-class>com.user.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <url-pattern>/removefriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordRecovery</display-name>
    <servlet-name>PasswordRecovery</servlet-name>
    <servlet-class>com.user.PasswordRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordRecovery</servlet-name>
    <url-pattern>/recover</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsernameIdentifier</display-name>
    <servlet-name>UsernameIdentifier</servlet-name>
    <servlet-class>com.user.UsernameIdentifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameIdentifier</servlet-name>
    <url-pattern>/usernameid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFriendMessage</display-name>
    <servlet-name>ShowFriendMessage</servlet-name>
    <servlet-class>com.user.ShowFriendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFriendMessage</servlet-name>
    <url-pattern>/showmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatBringer</display-name>
    <servlet-name>ChatBringer</servlet-name>
    <servlet-class>com.user.ChatBringer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatBringer</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroup</display-name>
    <servlet-name>CreateGroup</servlet-name>
    <servlet-class>com.user.CreateGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroup</servlet-name>
    <url-pattern>/creategroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGroupMessages</display-name>
    <servlet-name>ShowGroupMessages</servlet-name>
    <servlet-class>com.user.ShowGroupMessages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGroupMessages</servlet-name>
    <url-pattern>/showgroupmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGroup</display-name>
    <servlet-name>DeleteGroup</servlet-name>
    <servlet-class>com.user.DeleteGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroup</servlet-name>
    <url-pattern>/deletegroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToGroup</display-name>
    <servlet-name>AddToGroup</servlet-name>
    <servlet-class>com.user.AddToGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToGroup</servlet-name>
    <url-pattern>/addtogrp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGroupMembers</display-name>
    <servlet-name>ShowGroupMembers</servlet-name>
    <servlet-class>com.user.ShowGroupMembers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGroupMembers</servlet-name>
    <url-pattern>/showgrpmembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromGroup</display-name>
    <servlet-name>RemoveFromGroup</servlet-name>
    <servlet-class>com.user.RemoveFromGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromGroup</servlet-name>
    <url-pattern>/removefromgroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendUserMessage</display-name>
    <servlet-name>SendUserMessage</servlet-name>
    <servlet-class>com.user.SendUserMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendUserMessage</servlet-name>
    <url-pattern>/sendusrmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatService</display-name>
    <servlet-name>ChatService</servlet-name>
    <servlet-class>com.user.ChatService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatService</servlet-name>
    <url-pattern>/chatservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGroupChats</display-name>
    <servlet-name>GetGroupChats</servlet-name>
    <servlet-class>com.user.GetGroupChats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroupChats</servlet-name>
    <url-pattern>/getgroupchats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextReciver</display-name>
    <servlet-name>TextReciver</servlet-name>
    <servlet-class>com.user.TextReciver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextReciver</servlet-name>
    <url-pattern>/testreciver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendGroupMessage</display-name>
    <servlet-name>SendGroupMessage</servlet-name>
    <servlet-class>com.user.SendGroupMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendGroupMessage</servlet-name>
    <url-pattern>/sendgroupmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupTextReciver</display-name>
    <servlet-name>GroupTextReciver</servlet-name>
    <servlet-class>com.user.GroupTextReciver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupTextReciver</servlet-name>
    <url-pattern>/grouptextreciver</url-pattern>
  </servlet-mapping>
</web-app>